Django==1.7.1
Mako==1.0.0
MarkupSafe==0.23
argparse==1.2.2
boto==2.34.0
djangorestframework==3.0.0
execnet==1.2.0
glob2==0.4.1
ipdb==0.8
ipython==2.3.1
isort==3.9.0
natsort==3.5.1
pbr==0.10.0
pies==2.6.1
psycopg2==2.5.4
py==1.4.26
pytest==2.6.3
pytest-bdd==2.4.1
pytest-django==2.7.0
pytest-ipdb==0.1-prerelease2
pytest-splinter==1.2.3
pytest-xdist==1.11
pytz==2014.10
pyxdg==0.25
readline==6.2.4.1
selenium==2.44.0
six==1.8.0
splinter==0.7.0
stevedore==1.1.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
