{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>M13 Amazon Invoice Generator</title>
    <link rel="stylesheet" href="{% static "css/invoice.css" %}">
</head>
<body>
<div class="content">
    <div class="watermark"></div>
    <table class="header">
    <tbody>
        <tr>
            <td style='text-align: left; width="50%"'>
                <img src="{% static "img/manufaktur13-logo.png" alt="Manufaktur13Logo" %}"/>
                <div class='logo_caption'>
                    Manufaktur Dreizehn UG (haftungsbeschränkt) &bull; Landsberger Allee 177 &bull; 10369 Berlin
                </div>
            </td>
            <td class="sidebar">
                <p>
                    Manufaktur Dreizehn UG (haftungsbeschränkt)<br>
                    Landsberger Allee 177<br>
                    D-10369 Berlin<br>
                    Tel.: 030-12016673<br>
                    E-Mail: info@manufaktur13.de<br>
                </p>
                <p>
                    Geschäftsführer: David Schirrmeier
                </p>
                <p>
                    Bankverbindung: <br>
                    IBAN: DE43 1001 0010 0849 9581 07<br>
                    BIC: PBNKDEFF<br>
                    Postbank<br>
                </p>
                <p>
                    Amtsgericht Charlottenburg<br>
                    USt.Nr. DE293216343<br>
                    St.-Nr. 37/492/21865<br>
                    HRB 154621<br>
                </p>
            </td>
        </tr>
    </tbody>
    </table>
    <table class="meta">
    <tbody>
        <tr>
            <td style="text-align: left;">
                <div class="address">
                    {{ order.address.name }}<br>
                    {{ order.address.street }}<br>
                    {{ order.address.city }}<br>
                    {{ order.address.postal_code}} {{ address.country_code }}
                </div>
            </td>
            <td style="float: right; text-align: right;">
                <strong>Bestelldatum:</strong> {{ order.purchase_time | date:'d.m.Y' }}<br>
                <strong>Versanddatum:</strong> {{ order.invoice.issue_time | date:'d.m.Y' }}<br>
                <strong>Rechnungsdatum:</strong> {{ order.invoice.creation_time | date:'d.m.Y' }}<br>
                <strong>Rechnungsnummer:</strong> {{ order.invoice.invoice_number }}<br>

            </td>

        </tr>
    </tbody>
    </table>
    <div class="subject">
        Rechnung für die Bestellung: {{ order.marketplace_order_id }}
    </div>
    <p>
        Sehr geehrte Kundin, sehr geehrter Kunde,
    </p>
    <p>
        vielen Dank für Ihren Einkauf in unserem Onlineshop.
        Anbei erhalten Sie unsere Rechnung:
    </p>
    <table class="items">
        <thead>
            <tr>
                <th style="text-align: left;">Bezeichnung</th>
                <th style="width: 10%; float: center;">Einzelpreis</th>
                <th style="width: 10%; float: center;">Anzahl</th>
                <th style="width: 10%; float: center;">Netto</th>
                <th style="width: 10%; float: center;">MwSt.</th>
                <th style="float: right;">Brutto</th>
            </tr>
        </thead>
        <tbody>
            {% for orderitem in orderitems %}
            <tr>
                <td style="text-align: left;">
                    {{ orderitem.product.title }}
                </td>
                <td style="width: 10%; float: center;">
                    {{ orderitem.get_single_orderitem_price_as_string }} &euro;
                </td>
                <td>
                    {{ orderitem.quantity }}
                </td>
                <td>
                    {{ orderitem.get_netto_price_as_string }} &euro;
                </td>
                <td>
                   19%
                </td>
                <td style="float: right;">
                   {{ orderitem.get_brutto_price_as_string }} &euro;
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table width="100%" style="margin-top: 1em;">
        <tbody>
            {% for orderitem in orderitems %}
            <tr style="border-top: 2px solid #000;">
                <td style="text-align: right;">Versandkosten</td>
                <td style="float: right;">
                    {{ orderitem.get_shipping_price_as_string }} &euro;
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td style="text-align: right;">
                    <strong>Gesamtpreis:</strong>
                </td>
                <td style="float: right; border-bottom: 2px solid #000;">
                    <strong>{{ order.get_total_sum_as_string }} &euro;</strong>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="thx">
        Die Bestellung ist hiermit abgeschlossen. Die Zahlung ist per Paypal/Vorrauskasse
        erfolgt. Betrag dankend erhalten. Die Rechnung wurde maschinell erstellt und ist
        daher ohne Unterschrift gültig.
    </p>
    <p>
        Mit freundlichen Grüßen
    </p>
    <p>
        Dein M13-Team
    </p>
</div>

</body>
</html>
